* {
    margin: 0;
    padding:0;
   
    }
   

    .slider{
     width: 15%;
     margin:auto; 
    }

    .slider ul{
        display:flex;
        padding:0;
        width:200%;
        animation: cambio 20s infinite;

    }

    .slider li{
        
        list-style:none; ;
    }

    
    .card .btn-default{ /*propiedades card de elementos*/
        border-radius: 8px;
        background: peru;
        color: #343a40;
        height: 20px ;
    }
    
     .card .btn-default:hover{
        color: peru;
        border: 1px solid peru !important;
        background: #343a40 !important;
    }

    .list-pokemon .card{
        color: peru;
        background-color: rgb(130, 197, 156);
        opacity:0.8;
        filter:  alpha(opacity=50);
    }

    .list-pokemon .card img{
        width: calc(100% - 40px);
        margin: 20px auto 0 auto;
        display:block;
    }
